# == Production Environtment == 
# PORT=
# DB_HOST=
# DB_USERNAME=
# DB_PASSWORD=
# DB_NAME=

# == Staging Environtment ==
# PORT=
# DB_HOST=
# DB_USERNAME=
# DB_PASSWORD=
# DB_NAME=

# == Development Environtment ==
# PORT=
# DB_HOST=
# DB_USERNAME=
# DB_PASSWORD=
# DB_NAME=

